{% assign repodata = site.data.projects[page.repo] %}

<div class="sidebar ">
  <div class="sticky">
    <div class="scrollable section">
      <h2>{{ page.repo | escape }} docs</h2>

      <form action="search-{{page.sidebar}}.html" method="get">
        <div class="searchbar">
          <input name="q" placeholder="Search.." type="search" type="text">
          <button type="submit"><i class="fas fa-search"></i></button>
        </div>
      </form>
      <ul class="sidebar-links">
        {% assign files = site.static_files | where: "extname", ".md"%}

        {% for file in files%}
        {% assign active = '' %}
        {% if file.path contains include.files_path %}
        {% if include.active_link %}
        {% if file.name == include.active_link %}
        {% assign active = 'active' %}
        {% endif %}
        {% elsif file.name == page.name %}
        {% assign active = 'active' %}
        {% endif %}
        <li class="{{ active }}"><a href="{{ file.basename }}">{{ file.basename | replace: "-", " " }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
